

h1 {
    padding: 20px;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
#headerimage{
    fill: white;
    height: 200px;
    margin-left: 75px;
    margin-top: 20px;
}
.cash-bet {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    
}

h2 {
    color: white;
    text-align: right;
    margin-right: 30px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#blackjack-table {
    margin-top: 40px;
    background-color: #016D29;
    opacity: 100%;
    background-repeat: no-repeat;
    height: 500px;
    margin-left: 250px;
    width: 800px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-style: solid;
    border-width: 10px;
    border-color: #e2c16e;
    background-clip: content-box;
    z-index: 1;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: #000;
    opacity: 0.7;
}
#middle{
    margin: 20px;
}
#buttons{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
#betAlert{
    margin-top: 10px;
}
#dealer_cards,
#player_cards {
    display: flex;
    justify-content: center;
}

#dealer_cards {
    margin-top: 0px;
}

#player_cards {
    margin-top: 5px;
}
.card2 {
    width: 100px;
    height: 150px;
    background-size: contain; 
    background-repeat: no-repeat;
    margin: auto;
       
}
.card {
    width: 100px;
    height: 150px;
    background-size: contain; 
    background-repeat: no-repeat;
       
}

.card:not(:first-child) {
    margin-left: -80px;
}

.card_split {
    margin-top: -30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 250px;       
    background-size: contain; 
    background-repeat: no-repeat;
    border-style : solid ;  
    border-color : white;
    border-width: 2px;
}

.card_split2 {
    margin-top: -30px;
    margin-bottom: 10px;
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 250px;       
    background-size: contain; 
    background-repeat: no-repeat;   
}

.card-down {
    background-image: url("https://i.postimg.cc/DytCZVN3/back-red.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
}


button {
    width: 120px;
    height: 50px;
    background-color: green;
    color: white;
    border: solid;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.chips-table {
    display: flex;
    align-content: center;
    height: 150px;
    justify-content: center;
    z-index: 999;
}

.chips {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    margin-top: 15px;
    border-radius: 40%;

}

.chips:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
#rules:hover {
    cursor: pointer;
}
#insurance_message{
    letter-spacing: 4px;
}
.cover,
.cover2 {
    margin: auto;
    justify-content: center;
    display: flex;
    top: 25%;
    bottom: 45%;
    left: 350px;
    width: 600px;
    height: 80px;
    border: solid;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 4px;
    background-color: green;
    font-weight: bolder;
    color: white;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.cover2:hover {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
#betAlert {
    background-color: #016D29;
}
.remove {
    display: none;
}

.noPointerEvents {
    pointer-events: none;
}

.activePointerEvents {
    pointer-events: auto;
}

.show-rules {
	padding: 10px;
	flex-direction: column;
	position: absolute;
	background-color: #016D29;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 75px;
	z-index: 99;
	color: white;
	text-align: center;
  
	border-radius: 12px;
	border: 3px outset;
	border-color: #e2c16e;
	padding: 15px 30px;
	color: #eee;
	text-transform: uppercase;
	letter-spacing: 4px;
	overflow: hidden;
	font-family: arial;
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
	background-color: #016D29;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  
  }